{% extends "base.html" %}

{% block content %}

<div class="container-fluid bg-white mt-5 border-top border-bottom shadow">
        <div class="container">
            <h1>Search Results</h1>
            <hr>
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 gy-3 mt-3">
                {% for product in products %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/{{ product.img }}"
                             class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <p class="card-title">{{ product.name }}</p>
                            <h3>${{ product.price }}</h3>
                            <a href="/product/{{ product.id }}" class="btn btn-primary">
                                View Product
                            </a>
                        </div>
                        <li class="list-group-item">
                            <a href="/edit_product/{{ product.id }}" class="btn btn-outline-info m-3 mt-0"> Edit </a>
                                <a href="/delete_product/{{ product.id }}" class="btn btn-danger m-3 mt-0"> Delete </a>
                        </li>
                    </div>
                </div>
    {% endfor %}
</div>
        </div>
    </div>

{% endblock %}